@model Shopping.Models.Category

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Sil</h2>

<h3>Kategoriyi silmek istediğine emin misin?</h3>
<div>
    
    <dl class="dl-horizontal">
        <dt>
            ParentId :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentId)
        </dd>

        <dt>
            Adı :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Aktif mi :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            Oluşturma Tarihi :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            Güncelleme Tarihi :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Sil" class="btn btn-danger" /> |
    @Html.ActionLink("Kategori Listesi", "Index", null, new { @class = "btn btn-warning" })
</div>
    }
</div>
